<!-- Wrapper container -->
<div class="container py-4">

  <h4 class="mb-3 mt-5">Open a ticket</h4>

  <form>

    <div class="mb-3">
      <label class="form-label" for="title">Title</label>
      <input class="form-control" id="title" type="text" placeholder="A brief description of the issue" />
    </div>

    <div class="mb-3">
      <label class="form-label" for="description">Description</label>
      <textarea class="form-control" id="description" type="text" placeholder="Describe here the issue you are having" style="height: 10rem;"></textarea>
    </div>

    <div class="d-grid">
      <button class="btn btn-primary btn-lg" type="submit">Create ticket</button>
    </div>

  </form>

</div>
