<div class="container py-4">

  <h4 class="mb-3 mt-5">Edit a ticket</h4>

  <form>

    <div class="mb-3">
      <label class="form-label" for="title">Title</label>
      <input
        id="title"
        name="title"
        type="text"
        class="form-control"
        placeholder="A brief description of the issue"
        [(ngModel)]="ticket.title" />
    </div>

    <div class="mb-3">
      <label class="form-label" for="description">Description</label>
      <textarea
        id="description"
        name="description"
        type="text"
        class="form-control"
        placeholder="Describe here the issue you are having"
        style="height: 10rem;"
        [(ngModel)]="ticket.description"></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label" for="requester">Requester</label>
      <input
        id="requester"
        name="requester"
        type="text"
        class="form-control"
        placeholder="This is a provisory field"
        [(ngModel)]="ticket.requester"
      />
    </div>

    <div class="mb-3">
      <label class="form-label" for="responsible">Responsible</label>
      <input
        id="responsible"
        name="responsible"
        type="text"
        class="form-control"
        placeholder="This is a provisory field"
        [(ngModel)]="ticket.responsible"
      />
    </div>

    <div class="mb-3">
      <label class="form-label" for="description">Creation date</label>
      <input
        id="creationDate"
        name="creationDate"
        type="text"
        class="form-control"
        placeholder="This is a provisory field"
        [(ngModel)]="ticket.creationDate"
      />
    </div>

    <div class="mb-3">
      <label class="form-label" for="status">Status</label>
      <select id="status" name="status" class="form-select" aria-label="Default select example" [(ngModel)]="ticket.status">
        <option selected>Select a status</option>
        <option value="PENDING">Pending</option>
        <option value="IN_PROGRESS">In Progress</option>
        <option value="RESOLVED">Resolved</option>
      </select>
    </div>

    <div class="btn-group" role="group" aria-label="Button group">
      <button (click)="updateTicket()" class="btn btn-primary btn-lg rounded me-3">Update ticket</button>
      <button (click)="goBack()"class="btn btn-secondary btn-lg rounded" data-bs-toggle="modal">
        Back
      </button>
    </div>

  </form>

</div>


