<article>

  <div class="container mt-5">
    <div class="row mt-4">
      <div class="col-sm-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Manage tickets</h5>
            <p class="card-text">Shows a list of all tickets that I can see</p>
            <a href="#" class="btn btn-primary">Manage tickets</a>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Open a ticket</h5>
            <p class="card-text">Open a ticket to help desk team.</p>
            <a href="#" class="btn btn-primary">Open a ticket</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Manage certificates</h5>
            <p class="card-text">Shows a list of all digital certificates on the system.</p>
            <a href="#" class="btn btn-primary">Manage certificates</a>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Create a certificate</h5>
            <p class="card-text">Create a digital certificate using this form.</p>
            <a href="#" class="btn btn-primary">Create a certificate</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</article>
