<!-- Fixed navbar -->
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Sigepi</a>
      <!--      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>-->

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
        </ul>
        <form class="d-flex">
          <button type="button" class="btn btn-success">
            <i class="bi bi-telephone-plus"></i>
          </button>
          <button type="button" class="btn btn-primary">
            <i class="bi bi-stickies text-light"></i>
          </button>
          <button type="button" class="btn btn-warning">
            <i class="bi bi-wallet text-dark"></i>
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>
