<!-- Modal -->
<div class="modal fade" id="deleteTicketModal" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1"
     aria-labelledby="deleteTicketModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteTicketModalLabel">Do you really want to delete this ticket?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        If you confirm, this ticket will be deleted.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"(click)="deleteTicket()">
          Confirm</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="goBackToList()">Cancel</button>
      </div>
    </div>
  </div>
</div>
