/* You can add global styles to this file, and also import other style files */

$sigepi-bkgcolor: #F1f1f1;

body {
    background-color: $sigepi-bkgcolor;
}

article {
  background-color: $sigepi-bkgcolor;
  padding-top: 60px;
}

html {
  background-color: $sigepi-bkgcolor;
}
